*.asv
*.m~
*.out
*.nav
*.bbl
*.bcf
*.blg
*.run.xml
*.toc
*.snm
.fuse*
*.*~
*.log
*.asv
*.aux
*.lnk
*.swp
*.mat
*.fdb_latexmk
*.fls
install_mpt3.m
pythonrun
*.pyc
*.synctex.gz
*.gnuplot
figs/Figure1_triangle.fig
figs/*_console.txt
